*
!job_hpss*
!.gitignore

!misc
!misc/**

!ar3.5km
ar3.5km/*
!ar3.5km/misc
!ar3.5km/misc/*

!ea5km
ea5km/*
!ea5km/misc
!ea5km/misc/*

!global-15-3km
global-15-3km/*
!global-15-3km/misc
!global-15-3km/misc/*
!global-15-3km/misc/*/*

!global15km
global15km/*
!global15km/misc
!global15km/misc/*
!global15km/misc/*/*

!README.md
!misc
